*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
    font-family:'Open Sans';
    display: block; 
    background: #F50057;
}

/*ESTILOS DE HEADER*/ 
header{
    background: #222222;
    width: 100%;
    min-height: 150px;
}
.texto-header{
    font-size: 50px;
    color: hsl(56, 88%, 52%);
}
/*ESTILOS DE HEADER*/ 


/*ESTILOS MENÚ*/
h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    font-family: "Roboto", sans-serif;
  }
  section {
    margin: 50px;
  }
  
  .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #f50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  

/*ESTILOS MENÚ*/

/*ESTILOS FOOTER*/
#pie{
    background-color: #222222;
    padding: 2%;
    overflow: hidden;
    color: white;
}
#titulo-final{
    text-align: center;
    background-color: #222222;
    font-size: 17px;
    color: #ffffff;
}
.footer-h5{
    color: hsl(56, 88%, 52%);
}
/*ESTILOS FOOTER*/
