*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
    font-family:'Open Sans';
    display: block; 
}

/*ESTILOS DE HEADER*/ 
header{
    background: #222222;
    width: 100%;
    min-height: 150px;
}
.texto-header{
    font-size: 50px;
    color: hsl(56, 88%, 52%);
}
/*ESTILOS DE HEADER*/ 


/*ESTILOS MENÚ*/
.content{
    background: #f2f2f2;
}
/*ESTILOS MENÚ*/

/*ESTILOS FOOTER*/
#pie{
    background-color: #222222;
    padding: 2%;
    overflow: hidden;
    color: white;
}
#titulo-final{
    text-align: center;
    background-color: #222222;
    font-size: 17px;
    color: #ffffff;
}
.footer-h5{
    color: hsl(56, 88%, 52%);
}
/*ESTILOS FOOTER*/
